<div class="container">
    <app-message class="m-2"></app-message>
    <form class="container form-group" (ngSubmit)="add(employeeName.value, employeeSurname.value, +employeeAge.value, employeePosition.value)">
        <h3>Dodaj pracownika</h3>
        <label for="name">Imie pracownika </label>
        <input id="name" #employeeName class="form-control"/>

        <label for="surname">Nazwisko pracownika</label>
        <input id="surname" #employeeSurname class="form-control"/>

        <label for="age">Wiek pracownika</label>
        <input type="number" id="age" #employeeAge class="form-control"/>

        <label for="proffesion">Stanowisko pracownika</label>
        <input id="proffesion" #employeePosition class="form-control"/>
         <!-- (click) passes input value to add() and then clears the input -->
         <button type="submit" class="btn btn-primary m-2"> Dodaj
       </button>
    </form>
    
</div>