.app-login-form{
    width: 520px;
    height: 360px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px 30px;
    border-radius: 10px;
    margin: 75px auto;
    padding: 30px 40px;
    background-color: purple;
    color: white;
}

.app-login-form h2 {
    font-size: 36px;
    text-align: center;
}

.app-login-form .form-input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.form-input input{
    width: 100%;   
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 0px 20px;
    border-radius: 40px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.form-input input::placeholder {
    color: white;
}

.form-input i {
    position: absolute;
    color: black;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

} 

.app-login-btn{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

/* button when invalid inputs: */
.invalid-button {
    border: 1px solid black;background: rgb(255,175,175);
    color: black;
    cursor: not-allowed;
    background: linear-gradient(100deg, rgba(255,175,175,1) 0%, rgba(222,82,82,1) 41%, rgba(255,31,58,1) 75%, rgba(204,65,89,1) 100%);
  }

.app-toggle-btn{
    border: none;
    font-size: 16px;
    background-color: transparent;
    text-align: center;
    margin: 20px 0 15px;
    cursor: pointer;
    color: white;
    font-weight: 700;
}

.app-toggle-btn:hover {
    text-decoration: underline;
}