<div class="app-login-form">
  @if (errorMessage) {
    <app-snackbar [errorMessage]="errorMessage"/>
  }
  <h2>{{ isLoginMode ? "Zaloguj się" : "Zarejestruj się" }}</h2>
  @if (isLoading) {
  <app-loader />
  } @if (!isLoading) {
  <form #authForm="ngForm" (ngSubmit)="onFormSubmitted(authForm)">
    <div class="form-input">
      <input
        type="email"
        placeholder="Adres Email"
        required
        name="email"
        ngModel
      />
      <i class="bx bxs-user"></i>
    </div>
    <div class="form-input">
      <input
        type="password"
        placeholder="Hasło"
        name="password"
        ngModel
        required
        minlength="8"
      />
      <i class="bx bxs-lock-alt"></i>
    </div>
    <button
      type="submit"
      class="app-login-btn"
      [disabled]="authForm.invalid"
      [ngClass]="{ 'invalid-button': authForm.invalid }"
    >
      {{ isLoginMode ? "Zaloguj" : "Zarejestruj" }}
    </button>
    <p>
      {{ isLoginMode ? "Nie masz jeszcze konta?" : "Masz już konto?" }}
      <button class="app-toggle-btn" type="button" (click)="onSwitchMode()">
        {{ isLoginMode ? "Zarejestruj się" : "Zaloguj się" }}
      </button>
    </p>
  </form>
  }
</div>
