.selected {
  background-color: #c2b721;
  font-weight: 800;
}

.przycisk {
  background-color: #c2b721;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
