<div class="container">
  <h3>Nasi Pracownicy</h3>
  <table
    class="table table-striped table-bordered table-hover table-condensed table-responsive table-md"
  >
    <tr>
      <th>ID</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Wiek</th>
      <th>Stanowisko</th>
      <th>Edytuj</th>
    </tr>
    @for (person of persons; track $index) {

    <tr [class.selected]="person === selectedPerson">
      <td>{{person.id}}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.surname }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.proffesion }}</td>
      <td><button class="btn bg-warning" (click)="selectPerson(person)">Edytuj</button></td>
    </tr>
    }
  </table>

  @if (selectedPerson) {
    <h3>Edytuj Dane Pracownika</h3>
    <div class="justify-content-around">
      <label for="name" class="form-control-lg">Imię:</label>
      <input
        type="text"
        id="name"
        placeholder="Podaj nowe imię"
        class="form-control-lg"
        [(ngModel)]="selectedPerson.name"
      />
      <label for="surname" class="form-control-lg">Nazwisko:</label>
      <input
        type="text"
        id="surname"
        placeholder="Podaj nowe nazwisko"
        class="form-control-lg"
        [(ngModel)]="selectedPerson.surname"
      />
      <label for="age" class="form-control-lg">Wiek:</label>
      <input
        type="number"
        id="age"
        placeholder="Podaj nowy wiek"
        class="form-control-lg"
        [(ngModel)]="selectedPerson.age"/>
      <label for="proffesion" class="form-control-lg">Stanowisko:</label>
      <input
        type="text"
        id="proffesion"
        placeholder="Podaj nowe stanowisko"
        class="form-control-lg"
        [(ngModel)]="selectedPerson.proffesion"/>

    </div>
  }
</div>
